{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <a class="btn" onclick="history.go(-1)"> Retour </a>
    {{ form_start(form) }}
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-5">
                <p>
                    <label for= "Password0" class="form-label">{{ form_label(form.actualPassword) }}</label>
                    {{ form_widget(form.actualPassword,{ 'attr': {'class': 'form-control'} ,'id':'motdepasse'})  }}
                </p>
                <p>
                    <label for="Password1" class="form-label">{{ form_label(form.plainPassword.first) }}</label>
                    {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control'}})  }}
                </p>
                <p>
                    <label for="Password2" class="form-label"> {{ form_label(form.plainPassword.second) }}</label>
                    {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control'}}) }}
                </p>
                {% if form_errors(form.plainPassword.first ) %}
                    <p>
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(form.plainPassword.first ) }}
                    </div>
                    <p/>
                {%endif%}
                <p>
                    <button type="submit" class="btn btn-primary"> Valider </button>
                    <button type="reset" class="btn btn-danger"> Effacer </button>
                </p>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

