{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}


	{% if is_granted('ROLE_ADMIN') %}
	<div class="ml-5 row">
	<div class=" align-items-center col-12 col-md-12">
		<div class="pb-3 d-flex justify-content-center">
			<h1 style="">Bonjour ! <span style="color:#5368D5!important">{{ app.user.getLastName() }}
			{{ app.user.getFirstName() }}</span></h1>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
			<div class="card  mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Nombre de matériel
					</h5>
					<p class="display-5 text-primary" id="countMaterials" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
			<div class="card  mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Nombre de réservation
					</h5>
					<p class="display-5" id="getTotalReservations" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
			<div class="card  mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Nombre de budget
					</h5>
					<p class="display-5" id="getTotalBudget" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
			<div class="card mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
					Nombre de catégorie
					</h5>
					<p class="display-5 text-primary" id="getTotalCat" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
			<div class="card mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Nombre de marque
					</h5>
					<p class="display-5" id="getTotalBrand" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
			<div class="card mb-3 m-1 m-md-2" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">
					Nombre d'utilisateur
				</h5>
				<p class="display-5" id="getTotalUser" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
					0
				</p>
			</div>
		</div>
		
		
		
		</div>
		<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
			<div class="card mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
					Nombre total de matériel
					</h5>
					<p class="display-5 text-primary" id="getTotalMaxMat" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
			<div class="card mb-3 m-1 m-md-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Nombre total de réservation
					</h5>
					<p class="display-5" id="getTotalMaxRes" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
						0
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center col-12 col-md-6">
		
	</div>
</div>
<script>
	// Récupérer les données pour le graphique



let finalValueReser = {{ app.user.getTotalReservations }};

console.log(finalValueReser)

window.addEventListener("load", () => {
let getTotalReservations = document.getElementById("getTotalReservations");
let countMaterials = document.getElementById("countMaterials");

function updateValue(elementId, finalValue) {
let element = document.getElementById(elementId);
let currentValue = 0;

function update() {
if (currentValue <= finalValue) {
element.innerHTML = currentValue;
currentValue++;
setTimeout(update, 10);
}
}

update();
}

updateValue("countMaterials", {{  app.user.countMaterials() }});
updateValue("getTotalReservations", {{ app.user.getTotalReservations() }});
updateValue("getTotalBudget", {{ budgetCount }});
updateValue("getTotalCat", {{ catCount }});
updateValue("getTotalBrand", {{ brandCount }});
updateValue("getTotalUser", {{ userCount }});
updateValue("getTotalMaxMat", {{ materialCount }});
updateValue("getTotalMaxRes", {{ reservationCount }});

});
</script>
	{% else %}
		<div class="ml-5 row">
			<div class=" align-items-center col-12 col-md-12">
				<div class="pb-3 d-flex justify-content-center">
					<h1 style="">Bonjour ! <span style="color:#5368D5!important">{{ app.user.getLastName() }}
					{{ app.user.getFirstName() }}</span></h1>
				</div>
				<div class="d-flex justify-content-center">
					<div class="card m-1 m-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								Nombre de matériel
							</h5>
							<p class="display-5 text-primary" id="countMaterials" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
								0
							</p>
						</div>
					</div>
					<div class="card m-1 m-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								Nombre de réservation
							</h5>
							<p class="display-5" id="getTotalReservations" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
								0
							</p>
						</div>
					</div>
					<div class="card m-1 m-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								Nombre de budget
							</h5>
							<p class="display-5" id="getTotalBudget" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
								0
							</p>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<div class="card m-1 m-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
							Nombre de catégorie
							</h5>
							<p class="display-5 text-primary" id="getTotalCat" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
								0
							</p>
						</div>
					</div>
					<div class="card m-1 m-md-2" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								Nombre de marque
							</h5>
							<p class="display-5" id="getTotalBrand" style="font-weight: 500;font-family:Arial, Helvetica, sans-serif;color:#5368D5!important">
								0
							</p>
						</div>
					</div>
				
				</div>
			</div>
			<div class="d-flex justify-content-center col-12 col-md-6">
				
			</div>
		</div>
		<script>
			// Récupérer les données pour le graphique



let finalValueReser = {{ app.user.getTotalReservations }};

console.log(finalValueReser)

window.addEventListener("load", () => {
let getTotalReservations = document.getElementById("getTotalReservations");
let countMaterials = document.getElementById("countMaterials");

function updateValue(elementId, finalValue) {
  let element = document.getElementById(elementId);
  let currentValue = 0;
  
  function update() {
    if (currentValue <= finalValue) {
      element.innerHTML = currentValue;
      currentValue++;
      setTimeout(update, 10);
    }
  }
  
  update();
}

updateValue("countMaterials", {{ app.user.countMaterials() }});
updateValue("getTotalReservations", {{ app.user.getTotalReservations() }});
updateValue("getTotalBudget", {{ budgetCount }});
updateValue("getTotalCat", {{ catCount }});
updateValue("getTotalBrand", {{ brandCount }});

});
</script>
	{% endif %}


{% endblock %}
